# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# ASP.NET uploads (opcional si no quieres subir archivos reales)
wwwroot/uploads/

# NuGet
*.nupkg